.mat-card{
    background-color: whitesmoke;
}
.content{
    padding: 16px;
}
.content > mat-card {
    width: 200px;
}
button{
    background-color: rgb(0, 153, 255);
    color: white;
}
button:hover{
    background-color: wheat;
    color: black;
}
.example-header-image {
    background-image: url(../../assets/1.jpg);
    background-size: cover;
}
  .mat-card-actions{
    text-align: center;
}
.mat-card-title{
    color: black;
}
.mat-card-subtitle{
    color: black;
}